 {% for user in users %}
 <div class="col-xl-12">
    <div class="row">
          
        <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                 
                <img src="{{user.user_profile.profile_image.url}}"  alt="Profile" class="rounded-circle">
                <a href="{% url 'users:view_profile' user.id %}"><h2>{{ user.first_name }} {{ user.last_name}}</h2></a>
                <h3>{{ user.user_profile.short_intro}} </h3>
                
                <div class="post-item clearfix">
                  <p>{{ user.user_profile.bio|slice:'100'}}</p>
                </div>
              </div>
        </div>
        
    </div>
     
</div>
{% endfor %}